.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
.submit {
  width: 100%;
  padding: 0.4em 1em;
  height: initial;
}

:global(.ant-form-item) {
  margin-bottom: 16px;
}
*/
/* 
.collapsible {
  transition: max-height 150ms ease-out;
  max-height: 0;
  overflow: hidden;
}

.expanded {
  max-height: 500px;
} */
